.pane {
    -fx-background-color: #fff;
}

.button {
    -fx-background-color: rgb(3, 16, 19), rgb(233, 190, 14), rgb(235, 188, 34);
    -fx-background-radius: 20px;
    -fx-text-fill: #fff;
    -fx-font-size: 16;
}

.button:hover {
    -fx-background-color: rgb(222, 229, 231), rgb(215, 223, 224), rgb(225, 233, 234);
    -fx-text-fill: #222;
}

.label {
    -fx-text-fill: #222;
    -fx-font-family: "Monospace";
    -fx-font-size: 16;
}

.textfield {
    -fx-background-radius: 10px;
    -fx-background-color: rgb(206, 219, 108);
}

.textfield:hover {
    -fx-background-color: rgb(151, 160, 159);
}

.checkbox {
    -fx-text-fill: #222;
    -fx-font-size: 16;
}

.link {
    -fx-font-size: 16;
    -fx-text-fill: rgb(224, 189, 17);
}

.link:hover {
    -fx-text-fill: rgb(24, 208, 48);
}