
.menubar {
    -fx-background-color: rgb(239, 191, 34), rgb(239, 191, 34), rgb(239, 191, 34);
}

.menuitem .label{
    -fx-text-fill: #222;
}

.menu:hover {
    -fx-background-color: rgb(149, 117, 11);
}

.menu .label {
    -fx-font-size: 20px;
}

